@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 187, 95%, 45%;
  --primary-foreground: 0 0% 100%;
  
  --secondary: 308, 99%, 63%;
  --secondary-foreground: 0 0% 100%;
  
  /* --sidebar-background: 0, 0%, 100%;
  --sidebar-foreground: 0, 0%, 8%; */
}
.dark {
  --primary: 187, 95%, 45%;
  --primary-foreground: 0 0% 100%;

  /* --sidebar-background: 240 10% 15%; */
}
:root {
  --border: 214 32% 91%;
  --input: 214 32% 91%;
  --ring: 215 20% 65%;
  --background: 0 0% 100%;
  --foreground: 222 47% 11%;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.man{
  background-color: hsl(187, 70%, 61%);
}